# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# VERCEL
# =========================
.vercel

# =========================
# NODE
# =========================
node_modules/

# =========================
# BACKUPS / TEMP
# =========================
*.bak
*.tmp
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# BUILD (opcional)
# =========================
public/
dist/
