[build]
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

# Cache agresivo para assets (imágenes)
[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# Sin cache para el Service Worker (Crítico para actualizaciones)
[[headers]]
  for = "/sw.js"
  [headers.values]
    Cache-Control = "no-cache"