self.addEventListener('install', (e) => {
  self.skipWaiting();
  e.waitUntil(
    caches.open('scorestore-v1').then((cache) =>
      cache.addAll([
        '/',
        '/index.html',
        '/css/style.css',
        '/main.js',
        '/site.webmanifest',
        '/assets/icon-192.png',
        '/assets/icon-512.png'
      ])
    )
  );
});

self.addEventListener('fetch', (e) => {
  e.respondWith(
    caches.match(e.request).then((res) => res || fetch(e.request))
  );
});