[build]
  command = "echo 'static site'"
  publish = "."
  functions = "netlify/functions"

# ESTO ASEGURA QUE TU SW.JS SIEMPRE SE ACTUALICE
[[headers]]
  for = "/sw.js"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

# CACHÉ AGRESIVA SOLO PARA IMÁGENES Y FUENTES (1 AÑO)
[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/css/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200